 .clearfix:after {clear:both;content:'.';display:block;visibility:hidden;height:0;}.clearfix {zoom:1;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,ul,li,blockquote,pre,a,abbr,acronym,address,big,cite,del,strong,em,font,img,dl,dd,dt {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}ol,ul {list-style:none}blockquote,q {queotes:none;}:focus {outline:0}table {border-collapse:collapse;border-spacing:0;}h1,h2,h3,h4 {font-weight:normal;}body{background:#f6f6f6;font-family:微软雅黑;-webkit-text-size-adjust:none;}article,aside,footer,header,hgroup,nav,section {display:block;}a{color:#666;text-decoration:none;}a:focus,a:hover{color:#A82626;text-decoration:none;}a:link{color:#666;text-decoration:none;}a:hover{color:#0066BE;text-decoration:none;}a:active{color:#0066BE;text-decoration:none;}p{font-size:12px;}img{border:0px;}
 .dropMenu {	position:absolute;top: 10px;	z-index:100;width: 125px;visibility: hidden;margin-top: -2px;border-top: 0px solid #eee;text-align:center;background: #224193;}
 .lframe h3{background: url("../img/home/cmr1.jpg") repeat-x 0 0 transparent;height:51px;line-height:50px;color:#fff;font-size:18px;font-weight:700; text-indent:35px;}
 .dropMenu ul li {display: block;}
 .list_right h1{font-size:16px;color:#333;font-weight:700;padding-top:30px;}
 .dmf{color:#333;padding-bottom:20px;font-size:12px;line-height:27px;border-bottom:1px dotted #ccc;}
 .dropMenu ul li a:hover {color: #fff;background:#1d78c4;text-decoration:underline}
 .dropMenu ul li a {color: #fff;display: block;font-size: 14px;line-height: 35px;}
 #goTopBtn {	POSITION: fixed; TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 39px; BOTTOM: 80px; HEIGHT: 33px; FONT-SIZE: 12px; CURSOR: pointer; RIGHT: 72px; _position: absolute; _right: auto}
 .leftbase .index_l1{padding-bottom:7px;} 
 .position p.hgrh{text-align:left;float:left; background:#3d7bc7; padding-left:20px;color:#fff;padding-right:20px;}
  .position p.hgrh11{float:right;margin-right:10px;}
  .position p.hgrh a{font-size:16px;color:#fff;font-family:微软雅黑;}
 .list_left{float:left;width:213px;border-bottom:10px solid #235bbc;}
 .list_left p.tit1{background:url(/static/img/home/tit1.png) no-repeat left center;}
 .list_left p.tit2{background:url(/static/img/home/tit2.png) no-repeat left center;}
 .list_right{float:right;width:747px;height:100%;overflow:hidden;padding-bottom:20px;}
 .position {font-size: 12px;line-height: 50px;height:52px;color: #666;overflow:hiddenn;background:#f6f6f6;} 
 .position a {color: #666;font-size:12px;}
 .main{z-index:1000;width:1000px;margin:0 auto 20px;overflow:hidden;min-height:400px;overflow:hidden; background:#fff;padding:15px 20px}
 .art_field{overflow:hidden;}
 .cxzx{overflow:hidden;}
 .cxzx ul li{float:left;margin:0px 4px;}
 .zy_left{width:240px;float:left;overflow:hidden;padding:23px 0px 20px;}
 .zy_right{width:747px;float:left;overflow:hidden;margin:396px 0px 0px 14px;}
 .left_a{margin-top:15px;padding-left:5px;}
 .left_b{width:215px;margin:15px 0px 0px 5px;}
 .left_b h2{height:35px;line-height:35px;background:url(/static/img/home/yydt.jpg) no-repeat;}
 .left_b h2 a{height:35px;line-height:35px;padding-left:32px;color:#666;font-size:12px;display:block;font-family:微软雅黑;}
 .left_c{border:1px solid #ddd;width:212px;margin-left:1px;height:200px;}
 .left_c ul{padding-top:10px;}
 .left_c ul li{background:url(/static/img/home/line.gif) no-repeat 12px center;height:30px;overflow:hidden;width:200px;}.left_c ul li a{padding-left:24px;color:#132B66;font-size:12px;line-height:30px;}
 .left_c ul li a:hover{color:#f60;}
 .con_body{width:753px;padding:0px 9px 0px 8px;overflow:hidden;background:#fff url(/static/img/home/cont0.jpg) no-repeat 0px 0px;}
 .p_zx dl{overflow:hidden;}
 .p_zx{overflow:hidden;padding-top:10px;}
  .p_zx dl dt{width:457px;float:left;}
  .p_zx dl dt h3{font-size:16px;color:#333;font-weight:700;margin-bottom:15px;}
  .p_zx dl dt h4{font-size:16px;color:#3278c6;font-weight:700;}
  .p_zx dl dt p{font-size:14px;color:#333;padding-bottom:2px;}
  .p_zx dl dd{width:248px;float:right;}
 .poline{width:723px;margin:6px 0px 0px 16px;border-bottom:1px dotted #ccc;}
 .abtitle{height:48px;margin:0px 0px 5px;}
 .abtitle h1{color:#333;font-size:24px;font-family:微软雅黑;padding-top:15px;}
 .abcon{padding-bottom:30px;font-size:14px;color:#666;}
 .art_field{line-height:30px;}
 .abcona{padding:0px 25px;}
 .abcona1{width:465px;float:left;}.abcona2{width:198px;height:445px;background:#F5F5F5;float:right;padding:10px 13px;}
 .art_list {overflow: hidden;}/* .art_list ul li {overflow:hidden;background:url(/static/img/home/jy.png) no-repeat;width:706px;line-height:32px;} */
 .htrw{overflow:hidden;}
 .art_l {line-height:32px;}.art_l a {color: #333;font-size: 18px;}
 .nlist3b{/* height:51px; */line-height:21px;height:auto;}
 .position p{overflow:hidden;}
 .pic111 tr td{font-size:12px;color:#666;}
  .pic111 tr td input#name,.pic111 tr td input#email,.pic111 tr td input#photo{background:url(/static/img/home/ehg.png) no-repeat;width:173px;height:25px;border:none;line-height:25px;padding-left:5px;}
  .pic111 tr td textarea#coo{background:url(/static/img/home/coo.png) no-repeat;width:462px;height:125px;border:none;padding-left:5px;}
  .coolbg{background:url(/static/img/home/tijiao.png) no-repeat;width:112px;height:26px;border:none;color:#fff;font-weight:700;}
  .pic111 tr{overflow:hidden;line-height:40px;}
 .htrw2{height:51px;overflow:hidden;}
 .art_l a:hover {color:#AB2C17;}
 .htrw3 a,.htrw3 img{display:block;width:145px;height:109px;}
 .htrw1{overflow:hidden;}
 .nlist3b a{color:#666;}
 .htrw3{width:145px;height:109px;float:right;}
 .art_r {color: #999999;font-size: 14px;	line-height:45px;text-align:center;border-bottom: 1px dotted #d2d5da;margin-bottom:15px;}
 .headerm ul li:hover{background:#224193;}
.list_ditu{height:684px;margin:0 auto;}
.list_ditu1{float:left;width:350px;overflow:hidden;margin:150px 5px 0px 5px;}
.list_ditu2{float:left;overflow:hidden;margin-top:20px;}
.list_ditu1 h3{font-size:16px;color:#ba2e1d;font-family:黑体;}
.list_ditu1 p{font-size:36px;color:#ba2e1d;font-family:黑体;font-weight:700;}
.list_ditu2 p{font-size:14px;color:#666;line-height:32px;padding-left:24px;}
.list_ditu2 p.sdc1{background: url(/static/img/home/as1.jpg) no-repeat scroll left center; }
.list_ditu2 p.sdc2{background: url(/static/img/home/as2.jpg) no-repeat scroll left center; }
.list_ditu2 p.sdc3{background: url(/static/img/home/as3.jpg) no-repeat scroll left center; }
.list_ditu2 p.sdc4{background: url(/static/img/home/as4.jpg) no-repeat scroll left center; }
.list_ditu2 p.sdc5 {
    background: url("/static/img/home/as5.jpg") no-repeat scroll left center;
}
 .lmbody{margin:0 auto;font-size:12px;line-height:24px;color:#545454;}
 .p_vbs ul li{float:left;padding:0px 5px;}
 .p_vbs{overflow:hidden;}
 .art_list ul li.art_2 {background: url(/static/img/home/dian0.gif) repeat-x scroll center bottom transparent;    height: 5px;    margin-bottom: 10px;}
 .art_2 { margin-bottom: 20px;position: relative}
 .tg_pages {clear: both;color:#adadad;font-size: 12px;    margin-top: 26px;    padding-right: 0px;    text-align: right;}
 .tg_pages li {display: inline;    line-height: 28px;}
 .tg_pages a {background-color: #FFFFFF;    border: 1px solid #E7ECF0;    color: #666666;    font-size: 12px;    padding: 6px 8px;}
 .tg_pages li a:hover {background-color: #1D377C;    color: #FFFFFF;}
 .tg_pages li.thisclass {background: none repeat scroll 0 0 #1D377C;    border: 1px solid #1D377C;    color: #FFFFFF;    padding: 6px 8px;}
 .tg_pages li.thisclass a {background: none repeat scroll 0 0 #132B66;    color: #FFFFFF;}
 .art_body {overflow: hidden;}
 .art_top {}
 .art_top h2 {color: #333;    font-size: 22px;    font-weight: 400;    line-height: 30px;	text-align:center;	font-family:微软雅黑;	padding:5px 0px;	}
 .art_mid {border-bottom: 1px dotted #CCCCCC;    height: 20px;	padding-bottom:10px;	text-align:center;}
 .art_mid p {color: #999999;}.art_mid p span {    padding-right: 30px;	font-size:12px;}
 .infolist {padding-top: 20px;}
 .art_field p{color: #666;font-size: 12px;    line-height: 25px;margin-bottom:10px;}
 .infolist p {color: #666666;    font-size: 12px;    line-height: 24px;    padding-left: 30px;}
 .infolist p span {padding-left: 60px;}.art_left .art_field p {    color: #333333;    font-size: 12px;    line-height: 24px;}
 .art_field p a:link {color: #2681C2;}.ainfo_pre {    font-size: 12px;    line-height: 25px;    padding: 20px 12px 3px 10px;}
 .ainfo_pre a {color: #666666;    font-size: 12px;}.ainfo_oin {   overflow:hidden;}
 .ainfo_oinl {float: left;    height: 37px;    width: 15px;}
 .ainfo_oinm {color: #333333;float: left;    font-size: 12px;    height: 40px;    line-height:40px;    width:747px;	border-bottom:1px solid #e6ecf5;}.ainfo_oin0 {float: left;    line-height: 37px;    padding-left: 0px;	margin-left:20px;	color:#666;}
 .ainfo_oin1 {float: left;line-height: 37px;padding-top: 4px;width: 112px;color:#666;}
 .ainfo_oin2 {background: url(/static/img/home/print.jpg) no-repeat scroll 0 11px transparent;float: left;font-size: 12px;height: 35px;line-height: 37px;margin-left: 489px;padding-left: 18px;	color:#666;}
 .ainfo_oin0 a,.ainfo_oin1 a,.ainfo_oin2 a,.ainfo_oin3 a,.ainfo_oin4 a{color:#666;}
 .ainfo_oin0 a:hover,.ainfo_oin1 a:hover,.ainfo_oin2 a:hover,.ainfo_oin3 a:hover,.ainfo_oin4 a:hover{color:#c60;}
 .nlist3b a:hover{color:#3D7BC7;}
 .ainfo_oin3 {background: url(/static/img/home/lmail.jpg) no-repeat scroll 0 11px transparent;float: left;font-size: 12px;height: 35px;line-height: 37px;  padding-left: 25px;padding-right: 5px;	color:#666;}
 .ainfo_oin4 {background: url(/static/img/home/shouc.jpg) no-repeat scroll 0 11px transparent;float: left;font-size: 12px;height: 35px;line-height:37px;padding-left: 20px;margin-left:20px;	color:#666;}
 .ainfo_pre {font-size: 12px;line-height: 25px;padding: 10px 0px 3px 0px;color:#333;}
 .ainfo_pre p{float:right;background: url(/static/img/home/fewc.png) no-repeat scroll right center;}
 .ainfo_pre a {color: #666;font-size: 12px;padding-right: 20px;}
.channel,.articlelist,.articleview{background:#E9E9E9;font-family:微软雅黑;-webkit-text-size-adjust:none;}
.index_main_top{overflow:hidden;background: url(/static/img/home/bds_cc.png) repeat-x 0 0;height:218px;}
.header{width:1000px;margin:0 auto;}
.ainfo_pre a:hover{color:#3C7BC7;}
.headerl{float:left;}
.headerm{height:40px;overflow:hidden;width:1250px;margin:0 auto;}
.heade00{overflow:hidden;line-height:24px;float:right;text-align:right;width:345px;margin-right:20px;}
.headerm ul  li{float:left;line-height:40px;width:125px;text-align:center;}
.headerm ul  li a{display:block;padding:0px 25px;color:#fff;font-size:14px;}
.headerm ul li a.hover{color:#fff;font-weight:700;font-size:14px;background:#224193;}
.mt ul li.hover{background:#E4E4E4;}
.dmff2 p.ooy a{color:#666;font-size:12px;}
.dmff2 p.ooy a:hover{color:#0066be;}
.a1{color:#666;font-size:12px;}
.a1:hover{color:#666;}
.headerr{float:right; margin-left:60px;width:195px;}
.headerr p{font-size:12px;float:left;color:#7893a8;line-height:20px;}
.headerr p.cc1{}
.headerr p.cc2{background:url(/static/img/home/tel2.png) no-repeat left center;padding-left:15px;margin-left:10px;}
.headerr p.cc3{font-size:14px;margin-left:10px;}
.headerr p a{font-size:12px;color:#fff;}
.headerr p a:hover{font-size:12px;color:#AB2C17;}
.foot{}
.footer{overflow:hidden;text-align:center;}
.footertop{overflow:hidden;padding-top:5px;}
.footertop p{line-height:20px;color:#999;}
.footertop .meus2 dl dd a{color:#333;padding-left:30px;}
.footertop .meus3{width:196px;background:url(/static/img/home/lxwm.png) no-repeat 50px 0px;padding-left:50px;height:167px;}
.addres{padding-top:91px;}
.addres p{font-size:12px;color:#666;line-height:20px;}
.footerbot{}
.footerbot p{font-size:12px;color:#999;}
.footerbot p a{color:#999;padding:0px 5px;}
.footerbot p a:hover{color:#AB2C17;}
.lframe {
	min-height:100px;overflow:hidden;
}
.lframe .md h2 {
   
}
.lframe .md span.p1 {
    color: #CCCCCC;
    font-size: 18px;
    line-height: 65px;
}
.lframe .md span.p1 a {display:block;
    color: #FFFFFF;
    font-family: 微软雅黑;
    font-size: 22px;
  
    line-height: 65px;
}
.focusBox1 .bd ul li{width:116px;height:41px;float:left;margin:0px 10px 10px 10px; background:url("/static/img/home/box_img.png") no-repeat 0 0;}
.lframe .mt {
    background:#fff;
}
.focusBox1 .bd .pic img{ height:37px;}
.lframe .mt ul li {background: url("../img/home/cfg.png") no-repeat scroll 0 0;
   /*  background: url("/static/img/home/dian.jpg") no-repeat scroll 10px center transparent; */
    /* border-bottom: 1px solid #EEEEEE; */
    font-family: 微软雅黑;
    line-height: 40px;
}
.lframe .mt ul li a {
    color: #666;
    display: block;
    font-size: 14px;
    padding-left:35px;
}



.lframe .my ul {
    padding-top: 17px;
}
.lframe .my ul li {
    margin-bottom: 12px;
}
.softlist1{float:left;margin-bottom:10px;width:145px;}
.listbox  li,.softq{overflow:hidden;}
.softlist2{float:left;}
.infolist{float:left;width:450px;}
.picview{float:left;}
.cbw{overflow:hidden;}

.art_list_book dl{overflow:hidden;margin-bottom:20px;}
.art_list_book dl dt{width:118px;float:left;text-align:center;}
.cbw ul li:hover p a{font-weight:700;color:#3f7dca;}
.art_list_book dl dd{width:603px;float:left;margin-left:20px;}
.art_list_book dl dt h2 a{font-size:12px;color:#214092;}
.cbw ul li{float:left;text-align:center;margin:10px 8px 10px 8px;}
.cbw ul li p a{font-size:16px;color:#333;}
.yjy dl{overflow:hidden;padding:10px 0px;border-bottom:1px dotted #ddd;}
.yjy dl h2{font-size:16px;color:#333;line-height:45px;}
.yjy dl dt{width:244px;float:left;height:139px;overflow:hidden;border:4px solid #f5f5f5;text-align:center;}

.yjy dl dd{width:481px;float:right;font-size:12px;color:#999;line-height:24px;}

/* .headerm ul li.cur{background:#999;} */

.nop4{overflow:hidden;text-indent:24px;}
.nop3 dl dt a{display:block;background:url(/static/img/home/jyr.png) no-repeat;width:166px;height:222px;}
.nop3 dl dt img{width:135px;height:190px;padding:15px;}
.nop3 dl dt{width:166px;float:left;margin-right:10px;}
.nop3 dl dd{width:525px;float:left;}
.nop3 dl dd h5{font-size:12px;color:#b92e1c;line-height:30px;}
.nop3 dl dd p{line-height:26px;color:#333;font-size:12px;}
.nop3 dl{overflow:hidden;padding:10px 0px;}
.nop4 h4{color:#b9301f;font-size:14px;background:url(/static/img/home/kuai.png) no-repeat left center;}
.nop4 p{line-height:24px;color:#333;font-size:12px;} 
.index_main00{width:1000px;min-height:520px;
    overflow:hidden;margin:0 auto; background:#fff;padding:15px 20px;}
	.foomt ul{overflow:hidden;width:340px;margin:0 auto;padding:20px 0px 5px 0px;}
	.foomt ul li{float:left;font-size:12px;color:#98a4c3;}
	.foomt ul li a{font-size:12px;color:#98a4c3;}
	.foomt ul li a:hover{color:#fff;}
	.foomt{background:#1d377c;width:100%;height:78px;border-top:1px solid #15295e;text-align:center;margin-top:48px;}
	.foomt p{color:#98a4c3;}
	.nop1 dl{overflow:hidden;padding:15px 0px;}
	.nop1{background:url(/static/img/home/nop1.jpg) no-repeat;width:707px;height:447px;margin:0 auto;}
	.nop1 dl dd p{line-height:26px;padding-left:10px;color:#333;}
	.md,.md h2{height:64px;line-height:64px;text-align:center;}
	.index_main01{overflow:hidden;}
	.mdpp4{background:url(/static/img/home/news.jpg) no-repeat;height:64px;line-height:64px;}
	.mdpp1{background:url(/static/img/home/news.jpg) no-repeat;height:64px;line-height:64px;}
	.mdpp2{background:url(/static/img/home/news.jpg) no-repeat;height:64px;line-height:64px;}
	.mdpp3{background:url(/static/img/home/news.jpg) no-repeat;height:64px;line-height:64px;}
	.mdpp5{background:url(/static/img/home/news.jpg) no-repeat;height:64px;line-height:64px;}
	.mdpp6{background:url(/static/img/home/news.jpg) no-repeat;height:64px;line-height:64px;}
	.mdpp7{background:url(/static/img/home/news.jpg) no-repeat;height:64px;line-height:64px;}
	.mdpp8{background:url(/static/img/home/news.jpg) no-repeat;height:64px;line-height:64px;}

	#bannermm{
    overflow: hidden;
    width: 100%;
	}
	.art_list ul li{overflow:hidden;padding:10px 0px;/* border-bottom:1px dotted #eee;*/} 
	.bvt{overflow:hidden;float:right;margin-top:25px; margin-left:20px;}
	.art_list ul li h2 a{font-weight:700;font-size:18px;color:#333;}
	.art_list ul li p a{font-size:12px;color:#333;}
	.art_list ul li h2 a:hover,.art_list ul li p a:hover{color:#224193;}
.amt_keybg {
    float: left;
    height: 22px;
    width: 136px;
}
.amt_keybg input {
    background: url(/static/img/home/serch1.jpg) no-repeat 0 0;
    border: 0 none;
    color: #999;
    font-size: 12px;
    height: 22px;padding:0px;
    line-height: 22px;
    text-indent: 10px;
    width: 136px;
}
.fll {
    float: left;
    height: 22px;
    width: 35px;
}

.fll button {
    background: url("/static/img/home/serch2.jpg") no-repeat 0 0;
    border: 0 none;
    height: 22px;padding:0px;
    width: 35px;
	cursor:pointer;
}
.heade01{overflow:hidden;}
.p_lfs{position:absolute;left:75px;top:253px;}
.htrwvvv p{text-align:center;font-size:20px;padding-top:10px;color:#666;}
.effect3 p a{color:#fff;}
.art_list dl{overflow:hidden;border-bottom:1px dotted #eee;padding:10px 0px;line-height:30px;}
.art_list dl dt{font-size:16px;color:#333;float:left;width:60px;text-align:center;}
.art_list dl dd{width:720px;float:left;}
.art_list dl dd .pyf_img{float:left;padding:0px 23px 15px 23px;height:50px;}
.tab {
    border-bottom: 1px dotted #ddd;
    color: #d66502;
    cursor: pointer;
    display: block;
    line-height: 28px;
}
.helpNHcon {
    background: none repeat scroll 0 0 #2f5286;
    font-size: 12px;
    padding: 15px;
}
.helpNHcon ul li {
    color: #fff;
    line-height: 22px;
}
.sp-title {border-bottom:1px solid #ddd;margin-bottom:10px;
    line-height: 40px;
    overflow: hidden;
}
.sp-title h2 {color:#333;
    float:left;font-size:16px;
}

.sp-title span {
    float: right;
}

.linkbox {border-bottom:1px dotted #ddd;
    line-height: 35px;
    overflow: hidden;
}

.linkbox h3 {width:56px;
    float: left;
}

.linkbox h3 a {
    color: #333;
    font-size: 14px;
}
.linkbox ul li a:hover{color:#3d7bc7;text-decoration:underline;}
.linkbox ul {width:690px;
    float: left;
}

.linkbox ul li {
    float: left;
    padding: 0 15px;
}
.sp-title span a{font-size:12px;}
.linkbox ul li a {
    color: #666;
    font-size: 12px;
}
.index_main_top0{width:1000px;margin:0 auto;background: url("/static/img/home/cxz.png") no-repeat 0 0;width:988px;height:38px;line-height:34px;margin-top:22px;margin-bottom:15px;}
.p_news ul li{float:left;background: url("/static/img/home/p_line.png") no-repeat right center;padding:0px 20px;}
.p_news ul li a{font-size:12px;color:#666;}
.p_news h2{font-size:14px;color:#224193;width:116px;float:left;text-align:center;}
.p_news ul{float:left;}
.p_news a.more{font-size:12px;float:right;font-family:arial;background: url("/static/img/home/p_more.png") no-repeat left center;padding-left:15px;margin-right:15px;}
.index_main_bottom{width:1009px;margin:0 auto;overflow:hidden;}
.index_main_bottom ul li{float:left;background: url("/static/img/home/p_botto.png") no-repeat 0 0;width:231px;height:111px;margin:0px 10px;}
.index_main_bottom ul li:hover{-moz-box-shadow: 2px 2px 10px #e5e5e5;/*firefox*/background:#eee;
-webkit-box-shadow: 2px 2px 10px #e5e5e5;/*safari或chrome*/
box-shadow:2px 2px 10px #e5e5e5;/*opera或ie9*/}
.index_main_bottom ul li h3 span{font-family:arial;font-size:12px;color:#666;}
.index_main_bottom ul li h3 a{font-size:12px;color:#203f92;float:right;}
.index_main_bottom ul li h3{overflow:hidden;padding:0px 10px;line-height:30px;}
.index_main_bottom ul li p{text-align:center;}
.index_main_bottom ul li p img{width:215px;height:70px;}
.p_news ul li a:hover{color:#224193;}
.index_main_bottom ul li dl{background:#e6e6e6;padding:0px 10px;overflow:hidden;}
.index_main_bottom ul li dl dt{float:left;width:68px;padding-top:7px;}
.index_main_bottom ul li dl dd{float:right;width:128px;padding-top:15px;}
.index_main_bottom ul li dl dd h2,.index_main_bottom ul li dl dd p{font-size:12px;color:#666;}
.index_main_bottom ul li dl dd h2{font-size:16px;text-align:center;}
.index_main_bottom ul li dl dd p{font-size:12px;}
.hx_aleft{padding: 25px 0 80px;}
.hx_aleft p{line-height:30px;}
.hx_aleft p a{font-size:14px; padding-left:15px}
.hx_aleft p a:hover {
    color: #069;
}
.hx_aleft p:hover{background:#E4E4E4;}
.hx_aleft p.on{background:#E4E4E4;}
.hx_aleft p.on a{color: #069}

.hx_aleft ul li a{ font-size:13px; padding-left:30px;}
.hx_aleft ul li{line-height:30px;}
.hx_aleft ul li.on a{color: #069}
.l_box_l{width:256px; height:auto; float:left;}
.l_box_r{width:481px; height:auto; float:right;}
.l_boxlimg{width:246px; height:auto;border:4px solid #f5f5f5;}
.l_boxlimg img{width:246px; height:120px;}
.l_boxlp{ margin-bottom:8px;}
.l_boxlp p {text-align:left;font-size:14px;color:#333;}
.l_box_r .l_boxlp p a{font-size:14px; color:#333;}
.l_boxlp p a{font-weight:700;}
.l_box_r .l_boxlp p a:hover{font-size:14px; color:#545454;}
.l_box_r p a{font-size:12px; color:#999;}
.l_box_r p a:hover{font-size:12px; color:#545454;}
.l_box_r p{line-height:20px;}
.l_box_r p a.a1{font-size:12px; color:#666;}
.l_box_r p a.a1:hover{color:#0066be;}

.art_list_book{overflow:hidden;}
.art_list_book ul li{float:right;background:#ccc;width:72px;height:30px;line-height:30px;text-align:center;margin-left:5px;}
.art_list_book ul li:hover{background:#3a78c2;}
.art_list_book ul li:hover a{color:#fff;}
.art_list_book ul li a{font-size:12px;color:#333;display:block;}
.art_list_book ul li a:hover{color:#214092;}
.art_list_book dl dd ul{overflow:hidden;}

.art_list_book1 dl{border-bottom:1px dotted #e9e9e9;overflow:hidden;}
.art_list_book1{overflow:hidden;}
.art_list_book1 ul li{float:right;background: url("/static/img/home/c_bck.png") no-repeat 0 0;width:89px;height:33px;line-height:33px;text-align:center;margin-left:5px;}
.art_list_book1 ul li a{font-size:12px;color:#333;display:block;}
.art_list_book1 ul li a:hover{color:#214092;}
.art_list_book1 dl dd ul{overflow:hidden;margin-top:5px;}
.art_list_book1 dl dt{width:165px;float:left;text-align:center;}
.art_list_book1 dl dt img{height:144px;}
.art_list_book1 dl dt h2{line-height:42px;font-size:12px;text-align:left;}
.art_list_book1 dl dt h2 a{color:#214092;}
.art_list_book1 dl dd{float:left;width:550px;}
.art_list_book1 dl h3{line-height:38px;color:#333;font-size:12px;}
.qklist{overflow:hidden;}
.qklistq{float:left;width:50%;text-align:center;margin-top:20px;}
.qkl img{height:207px;}
.qk2{line-height:42px;}
.qk2 a{color:#214092;font-size:14px;}
.n3b1{line-height:30px;}
.n3b2{line-height:30px;}
.n3b2 a{color:#214092;}
.n3b3{height:32px;line-height:40px;color:#214092;font-size:14px;}
.dmf{overflow:hidden;}
.dmf1{float:left;width:256px;}
.dmf1 img{width:246px;}
.dmf2{float:left;width:512px;line-height:22px;color:#545454;}
.dmf2 p{color:#545454;}
.dmff{overflow:hidden;}
.dmff1{float:left;width:256px;height:120px;overflow:hidden;}
.dmff1 img{width:246px;height:120px;}
.dmff2{line-height:22px;color:#545454;}
.dmff2 h2{height:25px;font-size:14px;color:#333;}
.list_dm ul li{margin-bottom:20px;overflow:hidden;}
.dmff2 p{font-size:12px;color:#9f9f9f;}
.dmff2 p.ooy{margin-top:10px;text-align:right;}
.dmff2 p.ooy a{  background:#ececec;
    display:inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 70px;}
	.dmfff2 h2 a{font-weight:700;}
	.dmff2 p.ooy a:hover{background:#3d7bc7;color:#fff;}
.p_fgb{position:absolute;width:1000px;z-index:1000;top:210px;left:50%;margin:0 auto;margin-left:-532px;}
.leftLoopw{ overflow:hidden;width:747px;}
.leftLoopw .hd{ height:10px;position:absolute;width:747px; }
.leftLoopw .hd .prev{ display:block;  width:20px; height:37px;  
	 cursor:pointer; background:url(/static/img/home/pp2.png) no-repeat;position:absolute;top:-193px;left:0px;}
	 .leftLoopw .hd .prev:hover{background:url(/static/img/home/pp1.png) no-repeat;}
.leftLoopw .hd .next{display:block;  width:20px; height:37px;  
	 cursor:pointer; background:url(/static/img/home/pp4.png) no-repeat;position:absolute;top:-193px;right:0px;}
	 .leftLoopw .hd .next:hover{background:url(/static/img/home/pp3.png) no-repeat;}
.leftLoopw .hd ul{position:absolute;top:-48px;left:50%;margin-left:-30px; }
.leftLoopw .hd ul li{ position:relative; _display:inline; float:left;  width:8px; height:8px; overflow:hidden; background:url(/static/img/home/pp5.png) no-repeat; margin-right:10px; cursor:pointer;
	text-indent:-9999px;}
.leftLoopw .hd ul li.on{ background:url(/static/img/home/pp6.png) no-repeat;}
.leftLoopw .bd{}
.leftLoopw .bd ul{ overflow:hidden;}
.leftLoopw .bd ul li{text-align:center; float:left; _display:inline; overflow:hidden;width:747px;  }
.leftLoopw .bd ul li h2{margin-top:35px;}
.leftLoopw .bd ul li h2 a{color:#333;font-size:16px;font-weight:700;}
.leftLoopw .bd ul li h2 a:hover{color:#3D7BC7;}
.luu1{overflow:hidden;}
.luu1 ul li img{padding-left:2px;}
.luu1 ul li{float:left;width:228px;margin:0px 6px 6px 6px;width:232px;border:2px solid #f6f6f6;background:#f6f6f6;}
.luu1 ul li h2{font-size:14px;color:#333;padding-top:10px;padding-bottom:5px;padding:4px;}
.luu1 ul li:hover{border:2px solid #3f7dca;}
.luu1 ul li  p{line-height:20px;font-size:12px;color:#333;padding:3px 0px;padding:4px;}

.dmfff{overflow:hidden;}
.dmfff1{float:left;width:242px;}
.dmfff1 img{width:230px;}
.dmfff2{float:right;width:490px;line-height:22px;color:#545454;}
.dmfff2 h2{height:25px;font-size:14px;color:#333;}
.list_dm ul li{margin-bottom:20px;overflow:hidden;}
.dmfff2 p{font-size:14px;color:#333;}
.art_list2 ul li{margin-bottom:20px;}
.dd1{overflow:hidden;background:#f5f5f5;}
.dd11{float:left;width:130px;height:110px;}
.dd12{overflow:hidden;margin-bottom:20px;}
.dd12 p{font-size:14px;color:#666;}
.dc1{overflow:hidden;background:url(/static/img/home/opm.png) no-repeat left center;min-height:66px;}
.dc1 p{color:#225abb;font-size:14px;padding-left:20px;}
.dc1 p a{font-size:12px;}
.dc11{float:left;width:60px;min-height:200px;}
.dc12{float:left;width:710px;min-height:200px;}
.dc11 ul{background:url(/static/img/home/dian.png) repeat-y right;width:48px;margin-top:15px;padding:0px 0px 20px;}
.dc11 ul li{line-height:30px;cursor:pointer;}
.dc11 ul li.on{border-right:2px solid #224193;}
.mm{background:url(/static/img/home/bgcc.png) no-repeat;width:710px;height:220px;overflow:hidden;position:relative;}
.mm1{margin-top:22px;line-height:35px;margin-left:105px;font-size:14px;color:#333;font-weight:700;}
.mm2{margin-left:97px;}
.mm3{position:absolute;color:#224193;font-size:12px;top:63px;left:20px; font-weight:700; }
.mm4{position:absolute;color:#224193;font-size:12px;top:33px;left:220px; width:300px;height:300px;display:none;line-height:22px; }
.htrw h2{font-size:16px;color:#333;font-weight:700;text-align:center;}
.nav_box{width:100%;height:141px;}
.con_list{padding:10px 0px;}
.con_list li{line-height:26px;color:#333;border-bottom:dotted 1px #ccc;}
.con_list li span{padding:0px 5px;background:#eee;margin-right:5px;}
.con_list li span:hover{background:#224193;color:#fff;}
.con_list li a{font-size:12px;color:#333;}
.con_list li a:hover{color:#224193;}
.hsd_set{height:40px;line-height:40px;margin-top:20px;margin-bottom:15px;}
.hsd_set a{display:inline-block;width:100px;text-align:center;font-size:16px;background:#e4e4e4;}
.hsd_set a:hover{color:#fff;background:#235bbc;}
.hsd_set a.hover{color:#fff;background:#235bbc;}
.tabs .tab_son{display:none;}
.tabs .dis{display:none;}
.tabs .nodis{display:block;}
#wx{position:relative;}
.img_set{position:absolute;right:-73px;top:50px;display:none;width:174px;height:183px;z-index:1000;}
.fk_set{width:180px;height:auto;background:#fff;position:fixed;right:5%;top:290px;}
.p_set{position:relative;height:100px;}
.p_set span{display:block;height:30px;background:rgba(0,0,0,0.4);line-height:30px;font-size:12px;color:#fff;position:absolute;left:0;bottom:0;width:94%;padding-left:10px;}

































.bbb{
    display: none;
}
.lmbody .acv p:hover{
        background-color: #1C4BA3 ;
        color: #FFFFFF;
}
.ac4{
    display: none;
}
.lframe h3{
    margin-top: 0 !important;
}

/*.lmbody .acv p{*/
    /*background-color:#1C4BA3 !important;*/
/*}*/

 .parag{
     text-indent: 28px;
     font-size: 14px;
     color: #666;
     line-height: 28px;
 }
 .art_2{
     margin-top: 30px;
 }
 .opff{
     font-size: 16px;
     color: #1C4BA3;
 }

 .aaa{
    background-color: #3d7bc7;
    color: #fff !important;
}

.lframe .mt ul li a:hover {
    color: #fff;
    background-color: #3d7bc7;
}

/*科研领域*/

.news_mue{
    width: 100%;
    height: 50px;
    background-color: #a1c6f3;
    text-align: center;
    line-height: 25px;
    font-family: 仿宋;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.news_mue p{
    font-size: 20px;
    font-weight: bold;
}

.news_con p{
    text-indent: 20px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 27px;
}

.art_2 ul{
    margin-top: 15px;
}

.art_2 img.img_1{
    width: 100%;
    height: 415px;
}

.art_2 img.img_2{
    width: 100%;
    height: 700px;
}

.cont_list_top li{
    padding: 5px 10px;
    font-family: 仿宋;

    /*为了显示li前边的数字*/
    list-style-position: inside;
    list-style-type: decimal;
}

.cont_list_bot li{
    padding: 5px 10px;
    font-family: Times New Roman;

    /*为了显示li前边的数字*/
    list-style-position: inside;
    list-style-type: decimal;
}

body{
    color: #666666 !important;
}

/*数字仿真研究院*/

.pm6_mue{
    width: 100%;
    height: 60px;
    background-color: #a1c6f3;
    text-align: center;
    line-height: 30px;
    font-family: 仿宋;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pm6_mue p{
    font-size: 20px;
    font-weight: bold;
}


.pm6_con{
    display: inline-block;
    width: 100%;
    padding-right: 15px;
}

.pm6_con span{
    font-weight: bold;
    color: #000000;
}

.pm6_con h3{
    width: 120px;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 10px;

}


.pm6_con p{
    text-indent: 25px;
    font-size: 12px;
    margin-top: 8px;
    padding: 0 5px;
    color: #666;
    line-height: 27px;
}

.fixed{
    position: fixed;
    top:10px;
}

.pm6_con .pm6_con_ti{
    font-weight: bold;
    text-indent: 0;
    font-size: 16px;
}

.pm6_con ul li{
    list-style-position: inside;
    list-style-type: decimal;
    font-size: 14px;
}

.mue_back{
    background-color: #498dda;
}

.pm6_con img{
    width: 450px;
    margin-top: 20px;
    margin-left: 50px;
}


.pm6_con_foot{
    display: none;
    position: absolute;
    bottom: 100px;
    right: -35px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    z-index: 1004;
}

.pm6_con_foot img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1004;
}

.active{
    color: #fff;
    background-color: #3d7bc7;
}

.pmc_mue{
    width: 100%;
    height: 35px;
    background-color: #a1c6f3;
    text-align: center;
    line-height: 25px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pmc_mue p{
    font-size: 20px;
}

.pmc_con p{
    /*首行缩进*/
    text-indent: 20px;
    color: #545454;
    padding: 0 5px;
    margin-top: 5px;
    font-size: 13px;
    line-height: 25px;
}

.pmc_con .first_img{
    width: 500px;
    margin-left: 80px;
}

.pmc_con h3{
    width: 250px;
    height: 25px;
    margin-top: 15px;
    /*background-color: #f98701;*/
    font-size: 18px;
    /*font-family: 仿宋;*/
    line-height: 25px;
    font-weight: bold;
}

/*城市仿真*/

.pmc_sim{
    position: relative;
    height: 160px;
    padding: 0 5px;
    margin-top: 5px;
}

.pmc_sim:hover{
    background-color: #f6f6f6;
}

.pmc_sim_left{
    float: left;
    width: 180px;
    text-align: center;
    line-height: 180px;
}

.pmc_sim_left img{
    width: 180px;
    padding-top: 22.78px;
}

.pmc_sim_right{
    float: right;
    width: 520px;
    padding-top: 22.78px;
}

.pmc_sim_right h4{
    width: 150px;
    height: 25px;
    font-size: 18px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    background-color: #e9e9e9;
}

.pmc_sim_right h4:hover{
    background-color: #a1c6f3;
}

.pmc_con .foot_img{
    width: 600px;
    margin-top: 15px;
}

.pmc_sim_right a{
    color: #1C4BA3;
}

.pmc_con .pmc_con_p{
    font-size: 18px;
    font-weight: bold;
}

.pmc_con ul{
    list-style-position: inside;
    list-style-type: disc;
    font-size: 15px;
    color: #666666;
}

/*#pmc_home{*/
    /*display: none;*/
/*}*/

.hides{
    display: none;
}

.hides ul{
    list-style-position: inside;
    list-style-type: decimal;
}

.hides img,video{
    width: 580px;
    height: 300px;
    text-align: center;
}

.posit p{
    width: 580px;
    text-align: center;
}
/*.art_2 .pmc{*/
    /*border: 1px solid #000000;*/
/*}*/


/*风环境=================================================*/

.pmc_left_ul ul{
    margin-top: 50px;
}

.pmc_right_p p{
    text-indent: 25px;
    font-size: 12px;
    margin-top: 8px;
    padding: 0 5px;
    color: #666;
    line-height: 25px;
}

.pmc_left_ul ul li{
    font-size: 14px;
    margin-left: 15px;
    margin-top: 5px;
}

#pmc_wind{
    position: relative;
}

.pmc_wind_mue{
    text-align: center;
    position: relative;
    height: 40px;
    font-family: 仿宋;
    font-size: 30px;
    padding-bottom: 30px;
}

.pmc_wind_mue #pmc_wind{
    width: 32%;
    float: left;
}

.pmc_wind_mue #pmc_water{
    width: 32%;
}

.pmc_wind_mue #pmc_conta{
    width: 32%;
    float: right;
}


.pmc_right_body{
    display: inline-block;
    width: 100%;
    padding-right: 15px;
    margin-top: 30px;
}

.pmc_right_body h3{
    width: 120px;
    font-size: 16px;
    margin-top: 15px;
}

.pmc_right_body .pm6_con_ti{
    font-weight: bold;
}

.pmc_right_body ul li{
    list-style-position: inside;
    list-style-type: disc;
    font-size: 15px;
}

.pmc_right_h4 h4{
    width: 580px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
}



.pmc_con_foot{
    position: fixed;
    bottom: 100px;
    right: 0;
    text-align: center;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00CCFF;
}

/*水环境====================================================*/


.pmc_water_mue{
    text-align: center;
    position: relative;
    height: 40px;
    font-family: 仿宋;
    font-size: 30px;
    padding-bottom: 30px;
}

.pmc_water_mue #pmc_wind{
    width: 32%;
    float: left;
}

.pmc_water_mue #pmc_water{
    width: 32%;
}

.pmc_water_mue #pmc_conta{
    width: 32%;
    float: right;
}

.pmc_water_conta h4{
    width: 580px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
}


/*污染物仿真===============================================*/

.pmc_mue1{
    text-align: center;
    position: relative;
    height: 40px;
}

.pmc_mue1 li{
    float: left;
    width: 240px;
    height: 40px;
    color: #FFFFFF;
    background-color: #3d7bc7;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.pmc_mue1 .backco{
    background-color: #FFFFFF;
    width: 240px;
    color: #000000;
    border-bottom: 1px solid #FFFFFF;
}

.pmc_mue1 li p:first-child{
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.pmc_mue1 li p:last-child{
    height: 20px;
    text-align: center;
}


/*下载中心==================================================*/


.dow_content h2{
    background-color: #9f9f9f;
    font-size: 25px;
    font-family: 仿宋;
    font-weight: bold;
    margin-bottom: 30px;
}

.dow_content p{
    font-size: 20px;
    font-family: 仿宋;
    line-height: 25px;
    margin:10px 15px;
    text-indent: 25px;
}

.dow_content .dow_name {
    height: 30px;
    line-height: 30px;
    background-color: #a1c6f3;
    font-size: 20px;
    margin: 30px 15px;
}

.dow_content .dow_name .dow_name_right{
    float: right;
    font-size: 14px;
}

.dow_list1{
    display: none;
    margin: 15px 15px;
    background-color: #eee;
}

.dow_list1 div{
    position: relative;
    height: 30px;
    margin-top: 7px;
}

.dow_list1 div a{
    float: right;
    display: inline-block;
    width: 690px;
    text-decoration:underline;
    color: #dc4026;
}

.dow_list1 div input{
    float: left;
    display: inline-block;
    width: 15px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
}

.dow_list1 input{
    margin-top: 10px;
    line-height: 30px;
    width: 15px;
    height: 15px;
}

.dow_list1 .dow_name_a{
    float: right;
    font-size: 25px;
    text-decoration:underline;
    color: #1C4BA3;
}

.dow_list1 span{
    font-size: 18px;
    left: 50px;
    text-decoration:underline;
    color: #1C4BA3;
    margin-top: 15px;
}

.dow_foot{
    height: 110px;
    width: 700px;
    border:1px solid #00F;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
}

h4.shg{
    font-size: 30px !important;
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.dow_foot{
    padding: 20px 20px;
}

.dow_foot p{
    font-size: 23px;
    font-family: 仿宋;
    font-weight: bold;
}

.dow_foot li{
    list-style-position: inside;
    list-style-type: lower-alpha;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

.dow_foot .dow_foot_li{
    color: red;
}

.dow_download{
    text-align: center;
    height: 50px;
}

.dow_download a:hover{
    background-color: #eee;
}

.dow_download a{
    display: inline-block;
    height: 50px;
    width: 200px;
    background-color: #f6f6f6;
    color: #1c4ba3;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000000;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;

}


/*模态对话框===================================*/

div.dow_info{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    opacity: 0.5;
}

.dow_info_con{
    display: none;
    height: 500px;
    width: 400px;
    color: #FFFFFF;
    background-color: #00539a;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1002;
    margin-left: -85px;
    margin-top: -250px;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
}

.dow_info_con .dow_info_to{
    right: 0;
    width: 100%;
    height: 20px;
    color: #FFFFFF;

}

.dow_info_list div > input{
    display: inline-block;
    width: 260px;
    height: 22px;
    font-size: 16px;
    margin: 5px 50px;
    border:1px solid #00CCFF;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dow_info_list{
    margin-top: 30px;
}

.dow_info_but input{
    width: 100px;
    height: 30px;
    top: 50px;
    margin: 40px 40px;
    border:1px solid #FFFFFF;
    font-size: 16px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#error{
    margin-left: 50px;
    font-size: 12px;
    color: red;
    margin-top: -5px;
    margin-left: 50px;
    margin-bottom: -5px;
}

#success{
    margin-left: 50px;
    font-size: 14px;
    color: green;
    margin-top: -5px;
    margin-left: 50px;
    margin-bottom: -5px;
}

/*百度百科滚动条*/

.scroll_mue{
    display: none;
}

.scroll{
    position: fixed;
    top: 321px;
    margin-left: 8px;
    width: 100px;
    height: 230px;

}

.scroll .scroll_con{
    display: inline-block;
    width: 140px;
    height: 25px;
    padding-left: 10px;
    padding-bottom: 15px;
}



.scroll > div{
    border-left: 2px solid #e6e6e6;
}

.scroll > p{
    width: 10px;
    height: 10px;
    background: transparent url(/static/img/ico/icos.gif) 0 -199px no-repeat;
    margin-left: -4px;
    z-index: 1000;
}

.head_foot p{
    width: 10px;
    height: 20px;
    background: transparent url(/static/img/ico/icos.gif) 0 -199px no-repeat;
    margin-left: -6px;
}

.scroll_con em{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 8px;
    margin-left: -17px;
    background: transparent url(/static/img/ico/icos.gif) 3px -222px no-repeat;
}

.scroll_con span{
    padding-left: 10px;
    color: #555;
    font-size: 14px;
    font-family: 宋体;
}

.scroll_con span:last-child{
    margin-right: 30px;
}

.right_arrow{
    position: fixed;
    width: 18px;
    height: 13px;
    top: 348px;
    background: transparent url(/static/img/ico/icos.gif) -271px -38px no-repeat;
    z-index: 1001;
}

.scroll .scroll_back {
    background-color: #f5f5f5;
}

.scroll_con em.hover1{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 8px;
    margin-left: -17px;
    background: transparent url(/static/img/ico/icos.gif) 3px -243px no-repeat;
}
























