<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>科研领域 > 仿真中心_中国城市科学研究会智慧城市联合实验室</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/bdsstyle.css" rel="stylesheet" type="text/css">
<link href="/static/css/conmon.css" rel="stylesheet" media="screen" type="text/css" />
<link href="/static/css/index.css" rel="stylesheet" media="screen" type="text/css" />
<script language="javascript" type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>	<script type="text/javascript">function setinfobox(o,total,key){for(i=1;i<=total;i++){document.getElementById(key+'bu'+i).className = "air" ;}document.getElementById(key+'bu'+o).className = "cur" ;document.getElementById(key+"info").innerHTML=document.getElementById(key+"info"+o).innerHTML;}</script>
<script language="JavaScript" type='text/javascript' src='/static/js/dropdown.js'></script>
<script language="javascript" type="text/javascript" src="/static/js/dedeajax2.js"></script>
<script language="javascript" src="/static/js/slides.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="/static/js/jquery.SuperSlide.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/logger.js"></script>
<script language="javascript" type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=5365812" src="/static/js/bds_s_v2.js"></script>


 {% block css %}


 {% endblock %}

</head>
<body class="channel">
<div class="nav_box">
    <div id="head0">

    <div id="head">
        <div class="header">
            <div class="headerl"><a href="/"><img src="/static/img/home/logo.png"></a></div>
		    <div class="header00">致力打造国家级智慧城市城市科学智库</div>

                <div class="headerr">
                <div class="bvt">
                    <div class="l_zwx">
                        <p>
                            <a href="">中/</a>
                            <a href="">En</a>
                            <a class="a1" href="http://weibo.com/Scitylab/profile?rightmod=1&wvr=6&mod=personinfo" target=_blank></a>
                            <a class="a2" href="javascript:void (0);" id="wx"></a>
                        </p>
                    </div>
                    <div class="login">
                        {% if request.session.name %}
                            <a href="/info/">{{ request.session.name }}</a>
                            ,
                            <a href="/login/">退出</a>
                        {% else %}
                            <a href="/login/">登陆</a>
                            /
                            <a href="/sigup/">注册</a>
                        {% endif %}
                    </div>
					<div class="l_zwxccc">
                    <form name="formsearch" action="/plus/search.php">
                     <input type="hidden" name="kwtype" value="0"><input type="hidden" value="titlekeyword">
                       <div class="amt_keybg"><input type="text" class="amt_key" name="keyword" id="keyword" value="搜索" onfocus="if(this.value==''){this.value='';}" onblur="if(this.value==''){this.value='';}" ></div>
                       <div class="fll"><button type="submit" class="search-submit"></button></div>
                    </form>
                    </div>
                </div>
             </div>
        </div>
        <span class="img_set"><img src="/static/img/home/wx.png" width="100" height="105" ></span>
    </div>

</div>
<div class="nav_set">
	<div  id="navMenu" class="headerm">
        <ul id="jsddm">
		    <li><a href="/html/" >首页</a></li>
            <li><a href='/html/about/' id="navmenu1" rel="dropmenu1">机构概况</a> </li>
            <li><a href='/html/news/' id="navmenu4" rel="dropmenu4">科研领域</a> </li>
            <li><a href='/html/hot/' id="navmenu5" rel="dropmenu5">标准评价</a> </li>
            <li><a href='/html/work/' id="navmenu3" rel="dropmenu3">规划咨询</a> </li>
            <li><a href='/html/funs/' id="navmenu2" rel="dropmenu2">学术成果</a> </li>
            <li><a href='/html/question/' id="navmenu6" rel="dropmenu6">会议交流</a> </li>
            <li><a href='/html/new/' id="navmenu71" rel="dropmenu71">新闻中心</a> </li>
            <li><a href='/html/count/' id="navmenu7" rel="dropmenu7">版权声明</a> </li>
            <li><a href='/html/download/' id="navmenu8" rel="dropmenu8">下载中心</a> </li>
        </ul>
    </div>
</div>

 </div>

 {% block content %}

 {% endblock %}


{% block main %}


{#    <div class="list_right">#}
{#        <div class="position">#}
{#		  		  <P class="hgrh"><a href="javascript:void(0)">数字仿真研究院简介</a></P>#}
{#					<P class="hgrh11">当前位置：<a href='/'>主页</a> > <a href='/html/news'>科研领域</a> > <a href='/html/news/pm6/'>数字仿真研究院简介</a></P>#}
{#				</div>#}
{#        <div class="art_2"></div>#}
{#	<div class="lmbody">#}
{#    </div>#}
{#    </div>#}


{% endblock %}



{% block body %}

{% endblock %}



<div class="foomt">
<ul>
<LI><a href="/">网站首页</A>&nbsp;&nbsp;|&nbsp;&nbsp;</LI>
<LI><a href="/html/about/as1/">关于我们</A>&nbsp;&nbsp;|&nbsp;&nbsp;</LI>
<LI><a href="/html/about/contact/">联系方式</A>&nbsp;&nbsp;|&nbsp;&nbsp;</LI>
<LI><a href="/html/count/bq">版权申明</A>&nbsp;&nbsp;|&nbsp;&nbsp;</LI>
<LI><a href="/html/count/maptl">网站地图</A></LI>
</UL>
<p>Copyright © Brimrose Corporation of National Smart City Joint Lab 版权所有复制必究</p>
 </div>


    <div id="dropmenu1" class="dropMenu">
		<ul>
	            <li class="menuli1"><a href="/html/about/as1/">实验室简介</a></li>
	            <li class="menuli1"><a href="/html/about/as2/">首席科学家</a></li>
	            <li class="menuli1"><a href="/html/about/as3/">成员单位</a></li>
	            <li class="menuli1"><a href="/html/about/yjy/">关于CSCI</a></li>
	            <li class="menuli1"><a href="/html/about/contact/">联系我们</a></li>
        </ul>
	</div>

	<div id="dropmenu4" class="dropMenu">
		<ul>
	            <li class="menuli1"><a href="/html/news/pm6/">数字仿真研究院</a></li>
	            <li class="menuli1"><a href="/html/news/cfs2/">创新中心</a></li>
	            <li class="menuli1"><a href="/html/news/pm5/">公共信息平台</a></li>
	            <li class="menuli1"><a href="/html/news/pm8/">城市群</a></li>
	            <li class="menuli1"><a href="/html/news/pm7/">多规融合</a></li>
	            <li class="menuli1"><a href="/html/news/pm2/">微城市</a></li>
	            <li class="menuli1"><a href="/html/news/pm1/">智慧社区</a></li>
		</ul>
	</div>

	<div id="dropmenu5" class="dropMenu">
		<ul>
	            <li class="menuli1"><a href="/html/hot/iso/">国际标准</a></li>
	            <li class="menuli1"><a href="/html/hot/iec/">国家标准</a></li>
	            <li class="menuli1"><a href="/html/hot/itu/">行业标准</a></li>
	            <li class="menuli1"><a href="/html/hot/gj/">评价评估</a></li>
        </ul>
	</div>

	<div id="dropmenu3" class="dropMenu">
		<ul>
	            <li class="menuli1"><a href="/html/work/am2/">规划</a></li>
	            <li class="menuli1"><a href="/html/work/am1/">咨询</a></li>
	            <li class="menuli1"><a href="/html/work/am3/">投融资</a></li>
	            <li class="menuli1"><a href="/html/work/am4/">项目案例</a></li>
	            <li class="menuli1"><a href="/html/work/am5/">荣誉与资质</a></li>
        </ul>
	</div>

	<div id="dropmenu2" class="dropMenu">
		<ul>
	            <li class="menuli1"><a href="/html/about/as4/">出版刊物</a></li>
	            <li class="menuli1"><a href="/html/funs/yanjiubaogao/">研究报告</a></li>
	            <li class="menuli1"><a href="/html/funs/chengdanketi/">承担课题</a></li>
	            <li class="menuli1"><a href="/html/funs/gongyixiangmu/">公益项目</a></li>
        </ul>
	</div>

	<div id="dropmenu6" class="dropMenu">
		<ul>
	            <li class="menuli1"><a href="/html/question/lc4/">国际交流</a></li>
	            <li class="menuli1"><a href="/html/question/lc1/">论坛</a></li>
	            <li class="menuli1"><a href="/html/question/lc2/">沙龙</a></li>
	            <li class="menuli1"><a href="/html/question/lc3/">创新日</a></li>
        </ul>
	</div>

	<div id="dropmenu71" class="dropMenu">
		<ul>
	            <li class="menuli1"><a href="/html/new/cs1/">新闻</a></li>
	            <li class="menuli1"><a href="/html/new/cs2/">通知</a></li>

		</ul>
	</div>

	<div id="dropmenu7" class="dropMenu" >
		<ul>
	            <li class="menuli1"><a href="/html/count/bq/">版权声明</a></li>
	            <li class="menuli1"><a href="/html/count/maptl/">网站地图</a></li>
        </ul>
	</div>

 <script type="text/javascript">cssdropdown.startchrome("jsddm")</script>
 <script type="text/javascript" id="bdshare_js" data="type=tools&uid=5365812" ></script>
 <script type="text/javascript" id="bdshell_js"></script>
 <script type="text/javascript">

	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
 </script>

</body>

</html>
{% block script %}

{% endblock %}