{% extends 'base.html' %}

{% block content %}
    <div id="container">
         <img src="/static/img/home/1-150R4102A2427.jpg" >
	</div>
{% endblock %}

{% block main %}
<div class="main">
    <div class="list_left">

    <div class="lframe">
        <a href="/html/download/"><h3>下载中心</h3></a>
    <div class="mt">
		<ul>
            <li><a href='/html/download/'>下载中心</a> </li>
        </ul>
	</div>
    </div>

    <div class="leftbase">

    </div>
    </div>



    <div class="list_right">
    <div class="position">
		  	<P class="hgrh"><a href="/html/download/">下载中心</a></P>
			<P class="hgrh11">当前位置：<a href='/html/'>主页</a> > <a href='/html/download/'>下载中心</a></P>
	</div>
	<div class="art_2">
        <div class="dow_content">
            <form action="/html/download/" method="post">
            <h2>A、论坛相关资料</h2>
            <p>“城市大数据及城市仿真论坛”是智慧城市联合实验室的年度盛会，论坛聚焦基于城市大数据的仿真研究，力图推进城市大数据的整合和发展，拓展仿真技术在预测城市发展规律方面的应用，使得基于大数据的城市仿真成果成为指导城市决策的智库。</p>
            <p>论坛邀请智慧城市领域中环境、人口、交通等方面的国内外学者、城市领导、企业代表与会，加强国内外有关智慧城市的信息交流，特别是城市仿真科研和技术的交流，在中国高速城市化背景下，落地中国智慧城市，推进中国科技创新。</p>
            <p>我们诚挚地邀请贵单位参与“城市大数据及城市仿真论坛2018”，如有参会或合作意向，请及时联系我们。</p>

            <div>
                <div class="dow_name">
                    <span>2018年海口论坛相关资料</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2018年11月5日</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="001" type="checkbox"><a href="javascript:void(0)">李迅—城市发展新时代、新理念、新方法.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="002" type="checkbox"><a href="javascript:void(0)">Michael Mulquin—Becoming a data driven city .pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="003" type="checkbox"><a href="javascript:void(0)">王桂新—基于队列变化的小区域人口预测及注意的问题.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="004" type="checkbox"><a href="javascript:void(0)">KajishimaDirect Numerical simulation of inertial particle droplet in turbulence flow .pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="005" type="checkbox"><a href="javascript:void(0)">刘建—城市轨道交通海绵城市抵抗暴雨效果数值模拟.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="006" type="checkbox"><a href="javascript:void(0)">范秦寅—深入展开城市仿真的现实意义.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="007" type="checkbox"><a href="javascript:void(0)">蒋紫虓_巴塞罗那大都市区风资源评估案例.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="008" type="checkbox"><a href="javascript:void(0)">James LaDine—Using Causal Relationship Model to Prioritize Simulation Parameters .pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="009" type="checkbox"><a href="javascript:void(0)">吴小毛—粒界科技gritworld-城市仿真.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="010" type="checkbox"><a href="javascript:void(0)">梁松—三维仿真技术在城市多领域的创新应用.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="011" type="checkbox"><a href="javascript:void(0)">王志永-基于多源数据融合的数据标准化.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="012" type="checkbox"><a href="javascript:void(0)">倪付燕—智慧水务云平台.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="013" type="checkbox"><a href="javascript:void(0)">吴建平—无人驾驶-未来交通与仿真研究.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="014" type="checkbox"><a href="javascript:void(0)">杨丽丽-智慧水务应用.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="015" type="checkbox"><a href="javascript:void(0)">大数据背景下的城市空间分析-肖中发.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="016" type="checkbox"><a href="javascript:void(0)">阚长城—慧眼识人-基于时空大数据的人口研究.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="017" type="checkbox"><a href="javascript:void(0)">马琦伟—基于深度学习的街景意向识别.pdf</a>
                    </div>

                        <input id="all" type="checkbox">
                        <span>批量操作</span>

                    </ul>
                </div>

                <div class="dow_name">
                    <span>2019年某某论坛相关资料</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2018年11月5日</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="001" type="checkbox"><a href="javascript:void(0)">李迅—城市发展新时代、新理念、新方法.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="002" type="checkbox"><a href="javascript:void(0)">Michael Mulquin—Becoming a data driven city .pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="003" type="checkbox"><a href="javascript:void(0)">王桂新—基于队列变化的小区域人口预测及注意的问题.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="004" type="checkbox"><a href="javascript:void(0)">KajishimaDirect Numerical simulation of inertial particle droplet in turbulence flow .pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="005" type="checkbox"><a href="javascript:void(0)">刘建—城市轨道交通海绵城市抵抗暴雨效果数值模拟.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="006" type="checkbox"><a href="javascript:void(0)">范秦寅—深入展开城市仿真的现实意义.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="007" type="checkbox"><a href="javascript:void(0)">蒋紫虓_巴塞罗那大都市区风资源评估案例.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="008" type="checkbox"><a href="javascript:void(0)">James LaDine—Using Causal Relationship Model to Prioritize Simulation Parameters .pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="009" type="checkbox"><a href="javascript:void(0)">吴小毛—粒界科技gritworld-城市仿真.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="010" type="checkbox"><a href="javascript:void(0)">梁松—三维仿真技术在城市多领域的创新应用.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="011" type="checkbox"><a href="javascript:void(0)">王志永-基于多源数据融合的数据标准化.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="012" type="checkbox"><a href="javascript:void(0)">倪付燕—智慧水务云平台.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="013" type="checkbox"><a href="javascript:void(0)">吴建平—无人驾驶-未来交通与仿真研究.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="014" type="checkbox"><a href="javascript:void(0)">杨丽丽-智慧水务应用.pdf </a>
                    </div>

                    <div>
                        <input name="file_num" value="015" type="checkbox"><a href="javascript:void(0)">大数据背景下的城市空间分析-肖中发.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="016" type="checkbox"><a href="javascript:void(0)">阚长城—慧眼识人-基于时空大数据的人口研究.pdf</a>
                    </div>

                    <div>
                        <input name="file_num" value="017" type="checkbox"><a href="javascript:void(0)">马琦伟—基于深度学习的街景意向识别.pdf</a>
                    </div>

                        <input id="all" type="checkbox">
                        <span>批量操作</span>

                    </ul>
                </div>
            </div>

            <h2>B、公开城市仿真资料</h2>
            <p>数字仿真研究院依托中城智慧（北京）城市规划设计研究院和中国城市科学研究会，致力于城市仿真研究，与国内外企业、大学及研究单位合作，创建城市仿真中心和系统。目的是从城市规划方法切入，实施城市的各项仿真和预测。目前有成熟的城市风环境、水环境、污染物扩散仿真模块和解决方案，仿真结果可以帮助城市规划设计单位对城市相关问题进行分析、预测、优化和提案。</p>
            <div>
                <div class="dow_name">
                    <span>城市环境仿真</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2018年09月15日</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="018" type="checkbox"><a href="javascript:void(0)">城市环境仿真服务介绍.pdf </a>
                    </div>

                    <input id="all" type="checkbox">
                    <span>批量操作</span>

                </div>

                <div class="dow_name">
                    <span>城市人口仿真</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2018年09月15日</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="018" type="checkbox"><a href="javascript:void(0)">城市环境仿真服务介绍.pdf </a>
                    </div>

                    <input id="all" type="checkbox">
                    <span>批量操作</span>

                </div>

                <div class="dow_name">
                    <span>城市交通仿真</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2018年09月15日</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="018" type="checkbox"><a href="javascript:void(0)">城市环境仿真服务介绍.pdf </a>
                    </div>

                    <input id="all" type="checkbox">
                    <span>批量操作</span>

                </div>
            </div>

            <h2>C、城市仿真技术资料</h2>
            <p>中国城市科学研究会智慧城市联合实验室，主要聚焦于智慧城市领域顶层设计、公共信息平台、城市安全、智慧社区、智慧旅游等领域的科研和标准建设等，为加强现代科学技术在城市规划、建设、管理和运行中的综合应用，整合信息资源，促进产业转型，提升城市管理能力和服务水平，从解决实际问题入手，提出科学完善和可执行的智慧城市概念、建设体系及保障体系，协助国家智慧城市建设和管理工作，并为城市提供业务咨询和服务。</p>

            <div>
                <div class="dow_name">
                    <span>城市仿真模型数据要求</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2016年</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="019" type="checkbox"><a href="javascript:void(0)">中国城市科学研究会智慧城市联合实验室.pdf</a>
                    </div>

                        <input id="all" type="checkbox">
                        <span>批量操作</span>

                </div>

                <div class="dow_name">
                    <span>城市仿真疑难问题解决方案</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2016年</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="019" type="checkbox"><a href="javascript:void(0)">中国城市科学研究会智慧城市联合实验室.pdf</a>
                    </div>

                        <input id="all" type="checkbox">
                        <span>批量操作</span>

                </div>
            </div>


            <h2>D、营销资料</h2>
            <p>数字仿真研究院依托中城智慧（北京）城市规划设计研究院和中国城市科学研究会，致力于城市仿真研究，与国内外企业、大学及研究单位合作，创建城市仿真中心和系统。目的是从城市规划方法切入，实施城市的各项仿真和预测。目前有成熟的城市风环境、水环境、污染物扩散仿真模块和解决方案，仿真结果可以帮助城市规划设计单位对城市相关问题进行分析、预测、优化和提案。</p>
            <div>
                <div class="dow_name">
                    <span>宣传手册</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2018年09月15日</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="018" type="checkbox"><a href="javascript:void(0)">城市环境仿真服务介绍.pdf </a>
                    </div>

                    <input id="all" type="checkbox">
                    <span>批量操作</span>

                </div>

                <div class="dow_name">
                    <span>实验室营销销售资料</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2018年09月15日</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="018" type="checkbox"><a href="javascript:void(0)">城市环境仿真服务介绍.pdf </a>
                    </div>

                    <input id="all" type="checkbox">
                    <span>批量操作</span>

                </div>

                <div class="dow_name">
                    <span>案例demo分析资料</span>
                    <a href="#" class="dow_block">展开</a>
                    <span class="dow_name_right">2018年09月15日</span>
                </div>
                <div class="dow_list1">
                    <div>
                        <input name="file_num" value="018" type="checkbox"><a href="javascript:void(0)">城市环境仿真服务介绍.pdf </a>
                    </div>

                    <input id="all" type="checkbox">
                    <span>批量操作</span>

                </div>
            </div>

            <div class="dow_info"></div>
{#            <div class="dow_info_con">#}
{#                <p>下载联合实验室文件</p>#}
{#                <p>填写信息后点击提交，文件将发送至您的邮箱中，请留意</p>#}
{#                <p class="dow_info_to">* 表示必填字段</p>#}
{##}
{#                    <div class="dow_info_list">#}
{#                        <div>#}
{#                            <input type="text" name="name" placeholder="* 姓名：">#}
{#                        </div>#}
{##}
{#                        <div>#}
{#                            <input type="text" name="post" placeholder="* 职务：">#}
{#                        </div>#}
{##}
{#                        <div>#}
{#                            <input type="text" name="comp" placeholder="* 公司：">#}
{#                        </div>#}
{##}
{#                        <div>#}
{#                            <input type="text" name="phone" placeholder="* 电话：">#}
{#                        </div>#}
{##}
{#                        <div>#}
{#                            <input type="text" name="email" placeholder="* 邮箱：">#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                <div class="dow_info_but">#}
{#                    <input type="button" value="提交">#}
{#                    <input type="button" value="取消">#}
{#                </div>#}
{##}
{#            </div>#}


                <div class="dow_download">
                    <a href="Javascript:void(0)"><input type="submit" name="submit" value="Download"></a>
                </div>

             </form>
        </div>

        <h4 class="shg">声明</h4>
        <div class="dow_foot">
            <div>
                <p>下载须知：</p>
                <ul>
                    <li class="dow_foot_li">请勾选需要下载的文件，点击下载</li>
                    <li>所有文字及图片，仅供参考学习使用，未经作者允许，请勿在其他场合使用</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}