<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/conmon.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="body_info">
        <div class="info_up">
            <div class="info_up_inner">
                <nav>
                    <a>首页</a>
                    <a>新闻</a>
                    <a>下载</a>
                </nav>
            </div>
        </div>
        <div class="info_down">
            <div class="info_left">

            </div>
            <div class="info_right">

            </div>
        </div>
    </div>
</body>
</html>