{% extends 'base.html' %}


{% block content %}
     <div id="container">
         <img src="/static/img/home/1-150R4102A2427.jpg" >
		</div>
{% endblock %}


{% block main %}
<div class="main">
    <div class="list_left">

    <div class="lframe">
    <a href="/html/news/"><h3>科研领域</h3></a>
    <div class="mt">
		<ul>
            <li><a href='/html/news/pm6/'>数字仿真研究院</a> </li>
            <li><a href='/html/news/pmc1/'>城市环境仿真</a> </li>
            <li><a href='/html/news/pm6/'>创新中心</a> </li>
            <li><a href='/html/news/pm6/'>公共信息平台</a> </li>
            <li><a href='/html/news/pm6/'>城市群</a> </li>
            <li><a href='/html/news/pm6/'>多规融合</a> </li>
            <li><a href='/html/news/pm6/'>微城市</a> </li>
            <li><a href='/html/news/pm6/'>智慧社区</a> </li>
            <li><a href='/html/download/'>下载中心</a> </li>
        </ul>
	</div>
    </div>

    <div class="leftbase">

    </div>
    </div>


    <div class="list_right">
        <div class="position">
		  		  <P class="hgrh"><a href="/html/news">科研领域</a></P>
					<P class="hgrh11">当前位置：<a href='/html/'>主页</a> > <a href='/html/news'>科研领域</a></P>
				</div>
	<div class="art_2">
        <div class="news_mue">
            <p>城市仿真</p>
            <p>Urban Simulation</p>

        </div>
        <div class="news_con">
            <p>城市仿真基于人口、交通、环境、经济等学科的基础理论，分析城市实际问题，预测城市发展，为城市规划、管理、城市病防治、防灾减灾等提供科学依据的一种手段。
            </p>
            <p>Urban simulation is a way to reproduce the reality of the city through digitalization. Based on the city operation data, the theories of population, transportation, environment and economy are applied to analyze the practical problems of city and forcast urban development, and provides science foundation for urban planning, management, disaster prevention and mitigation.
            </p>
        </div>
        <img class="img_1" title="城市仿真" src="/static/img/news/news_1.png">

        <div class="news_mue">
            <p>城市环境仿真</p>
            <p>Urban Environment Simulation</p>
        </div>
        <ul class="cont_list_top">
                <li>基于计算流体力学（CFD Computational Fluid Dynamics）的严密理论；</li>
                <li>利用航拍的有关数据建立精确城市模型；</li>
                <li>根据气象数据设定准确的边界条件；</li>
                <li>综合考虑地形、气象、水文、建筑物、污染源等因素对现状以及发展趋势的影响；</li>
                <li>真实再现城市各种复杂现象，提供各种现象细节的有关数据；</li>
                <li>实现实时三维可视化；</li>
                <li>形成城市环境“诊断书”“疾病预防报告”，还可以提供决策支持，检验及优化方案，为城市规划、管理服务；</li>
            <ul class="cont_list_bot">
                <li>A rigorous theory based on computational fluid dynamics;</li>
                <li>Use the aerial data to establish a precise urban model;</li>
                <li>Set accurate boundary conditions based on weather data;</li>
                <li>Take into account the terrain, meteorology, hydrology, buildings, pollution sources and other factors’ impact on the status quo and the development trend;</li>
                <li>Exactly reproduce a variety of complex phenomena of cities, and provide the relevant data of  various phenomena's detail;</li>
                <li>Real-time 3D visualization;</li>
                <li>Form urban environment "diagnosis“ and "disease prevention report“. Also provide decision support, testing and optimization programs for urban planning, management services;</li>
            </ul>
        </ul>
        <img class="img_2" title="城市环境仿真" src="/static/img/news/news2.jpg">

    </div>

	<div class="lmbody">



    </div>
    </div>



</div>
{% endblock %}