{% extends 'base_news.html' %}

{% block left %}
<div class="list_left">

    <div class="lframe">
<a href="/html/news/"><h3>科研领域</h3></a>
    <div class="mt">
		<ul>
            <li><a href='/html/news/pm6/'>数字仿真研究院</a> </li>
            <li><a class="aaa" href='/html/news/pmc1/'>城市环境仿真</a> </li>
            <li><a href='/html/news/pm6/'>创新中心</a> </li>
            <li><a href='/html/news/pm6/'>公共信息平台</a> </li>
            <li><a href='/html/news/pm6/'>城市群</a> </li>
            <li><a href='/html/news/pm6/'>多规融合</a> </li>
            <li><a href='/html/news/pm6/'>微城市</a> </li>
            <li><a href='/html/news/pm6/'>智慧社区</a> </li>
            <li><a href='/html/download/'>下载中心</a> </li>
        </ul>
	</div>
    </div>

    <div class="leftbase">

    </div>
</div>
{% endblock %}




{% block right %}

    <div class="list_right">
        <div class="position">
		  	<P class="hgrh"><a href="javascript:void(0)">城市环境仿真</a></P>
				<P class="hgrh11">当前位置：<a href='/'>主页</a> > <a href='/html/news'>科研领域</a> > <a href='/html/news/pmc1/'>城市环境仿真</a></P>
	    </div>
        <div class="art_2">
{#            主页#}
            <div id="pmc_home">
                <div class="pmc_mue">
                    <p>SSFS<sup>TM</sup>城市环境仿真管理软件</p>
                </div>

                <div class="pmc_con">
                    <p>目的是从城市规划方法切入，实施城市的各项仿真和预测。目前开发的软件SSFS<sup>TM</sup>主要进行三个领域的仿真：城市风环境，水环境，污染物扩散，仿真结果可以帮助城市规划设计单位对城市相关问题进行分析、预测和提案。</p>
                    <img class="first_img" alt="仿真模块" src="/static/img/news/pmc/pmc_1.png">
                    <h3>主要功能模块</h3>
                    <div class="pmc_sim">
                        <div class="pmc_sim_left">
                            <a href="#"><img class="pmc_wind" alt="风环境仿真" src="/static/img/news/pmc/pmc_2.png"></a>
                        </div>
                        <div class="pmc_sim_right">
                            <h4 class="pmc_wind"><a href="#">风环境仿真</a></h4>
                            <p>风环境模块是SSFSTM软件最早开发并集成的模块，主要用来计算室内外自然通风，为建筑布局及规划设计提供可靠的流场分析数据，该模块基于计算流体力学（CFD）理论，可模拟空气的定常与非定常流动。</p>
                            <a class="pmc_wind" href="#">更多详情</a>
                        </div>
                    </div>

                    <div class="pmc_sim">
                        <div class="pmc_sim_left">
                            <a href="#"><img  class="pmc_water" alt="水环境仿真" src="/static/img/news/pmc/pmc_3.png"></a>
                        </div>
                        <div class="pmc_sim_right">
                            <h4 class="pmc_water"><a href="#">水环境仿真</a></h4>
                            <p>水环境模块是SSFSTM的核心模块之一，主要用来计算城市水环境，为城市防洪防涝提供解决方案，可预测洪涝灾害的影响范围和严重程度并指导城市紧急蓄水口的合理布局。</p>
                            <a class="pmc_water" href="#">更多详情</a>
                        </div>
                    </div>

                    <div class="pmc_sim">
                        <div class="pmc_sim_left">
                            <a href="#"><img class="pmc_conta" alt="污染物仿真" src="/static/img/news/pmc/pmc_4.png"></a>
                        </div>
                        <div class="pmc_sim_right">
                            <h4 class="pmc_conta"><a href="#">污染物仿真</a></h4>
                            <p>污染物仿真模块主要用来计算城市中大气污染物和雾霾等在通风条件下的扩散，评估不同的地形、建筑排布、人工建筑物类型对空气环境的污染程度，并为城市提供控制污染程度的解决方案。</p>
                            <a class="pmc_conta" href="#">更多详情</a>
                        </div>
                    </div>

                    <h3>特点</h3>
                    <ul>
                        <li>基于流体力学原理，所有数据符合物理规律</li>
                        <li>独立自主研发</li>
                        <li>简单，易用（傻瓜型）</li>
                        <li>问题导向（输入城市数据→得结果）</li>
                        <li>计算速度快（支持多核并行划分网格及计算）</li>
                    </ul>

                    <p class="pmc_con_p">SSFS城市环境仿真管理软件等著作权登记证书</p>

                    <img class="foot_img"  alt="SSFS城市环境仿真管理软件等著作权登记证书" src="/static/img/news/pmc/pmc_5.png">

                </div>
            </div>
            <div class="pmc_mue1 hides">
                <ul>
                    <li class="backco wind">
                        <p>风环境仿真</p>
                        <p>Air Environment Simulation</p>
                    </li>
                    <li class="water">
                        <p>水环境仿真</p>
                        <p>Water Environment Simulation</p>
                    </li>
                    <li class="conta">
                        <p>污染物仿真</p>
                        <p>Pollutant Simulation</p>
                    </li>
                </ul>
            </div>
            <div class="pmc">
{#            风环境#}
                    <div class="hides">
                        <div class="pmc_right_body pmc_right_p pmc_right_h4 pmc_1">
                            <div>
                                <h3>产品概述</h3>
                                    <p>风环境模块是SSFSTM软件最早开发并集成的模块，主要用来计算室内外自然通风，为建筑布局及规划设计提供可靠的流场分析数据，该模块基于计算流体力学（CFD）理论，可模拟空气的定常与非定常流动，用户只需要输入关键参数，软件即可自动完成建模、网格划分、计算域边界条件设定、流场计算、后处理，生成报告。模块操作简单，计算准确，是特别针对城市建筑风环境的特点开发的</p>
                            </div>
                            <div>
                                <h3>开发背景</h3>
                                    <p>绿色建筑在规划设计之初就必须量化建筑通风，以利用充分利用自然风来达到节能减排的目的。在《绿色建筑评价标准》中涉及26条风环境的条文，因此绿建风环境的仿真技术发展迅速。但传统的计算忽略了风在到达目标建筑前复杂的地形对于空气流动的影响，因此边界条件合理性存疑，模拟的可信性不高。另外，在城市季节风和台风灾害防治方面国内鲜有相关仿真技术。</p>
                            </div>
                            <div>
                                <h3>适用单位</h3>
                                    <p>技术团队由具有流体力学基础、编程基础和丰富的仿真、后处理、软硬件集成经验的机械工程、热能工程、流体力学、信息技术与科学专业的学士、硕士和博士组成。团队分工明确，理论功底扎实，业务水平过硬。依照硬软件国产化目标和方针，实施了100多平方公里的中国某城市的仿真计算，完成了风环境、水环境、污染物扩散的三个方面的开发及各种应用场景。目前正在拓展开发颗粒物扩散和辐射等模块。并且有经验丰富的GIS前处理、可视化后处理团队提供技术支撑。团队已经合作完成了多项开发项目，做了大量的技术储备，随时可以为城市环境问题提供各种咨询和规划服务</p>
                            </div>
                            <div>
                                <h3>产品功能</h3>
                                <ul>
                                    <li>绿色建筑规划设计数据支持、 方案分析，建筑防风性能设计；</li>
                                    <li>室内空气流动模拟（温度、湿度、空气龄的计算）；</li>
                                    <li>台风灾害预测、 应急处置方案设计辅助；</li>
                                    <li>风力发电厂选址等。</li>
                                </ul>
                            </div>
                            <div>
                                <h3>实例展示</h3>

                                <h4>案例1：南方某城市风环境仿真（100平方公里，62014栋建筑物）</h4>
                                <div class="posit">

                                        <img src="/static/img/news/pmc/wind/wind_1.png">
                                        <p>图1 南方某城市三维几何模型全局俯视图</p>
                                        <img src="/static/img/news/pmc/wind/wind_3.png">
                                        <p>图3 南方某城市风环境仿真流线图</p>
                                        <img src="/static/img/news/pmc/wind/wind_2.png">
                                        <p>图2 南方某城市三维几何模型局部视图</p>
                                        <img src="/static/img/news/pmc/wind/wind_4.png">
                                        <p>图4 南方某城市风环境仿真局部风速分布图(参考GB/T 28591—2012)</p>

                                    <div>
                                        <img src="/static/img/news/pmc/wind/wind_3.png">
                                        <p>图3 南方某城市风环境仿真流线图</p>
                                    </div>
                                    <div>
                                        <img src="/static/img/news/pmc/wind/wind_4.png">
                                        <p>图4 南方某城市风环境仿真局部风速分布图(参考GB/T 28591—2012)</p>
                                    </div>
                                </div>

                                <h4>案例2：南方某城市台风模拟</h4>
                                <div class="posit">
                                    <img src="/static/img/news/pmc/wind/wind_5.png">
                                    <p>图5 南方某城市台风仿真流线图</p>
                                    <img src="/static/img/news/pmc/wind/wind_6.png">
                                    <p>图6 南方某城市台风仿真风速分布图</p>
                                    <video width="580" height="400" controls="controls">
                                      　<source src="/static/img/news/pmc/wind/wind_7.mp4" type="video/mp4" />
                                      　<source src="/static/img/news/pmc/wind/wind_7.Ogg" type="video/ogg" />
                                      　<source src="/static/img/news/pmc/wind/wind_7.webm" type="video/webm" />
                                      　<object data="/static/img/news/pmc/wind/wind_7.mp4" width="580" height="400">
                                        <embed src="/static/img/news/pmc/wind/wind_7.swf" width="580" height="400" />
                                      　</object>
                                    </video>
                                    <P>台风沿路径移动时的整体Z=10m的速度云图动画</P>
                                </div>

                                <h4>案例3：南方某城市某栋建筑物室内空气龄模拟</h4>

                                <div class="posit">
                                    <video width="580" height="400" controls="controls">
                                      　<source src="/static/img/news/pmc/wind/wind_8.mp4" type="video/mp4" />
                                      　<source src="/static/img/news/pmc/wind/wind_8.Ogg" type="video/ogg" />
                                      　<source src="/static/img/news/pmc/wind/wind_8.webm" type="video/webm" />
                                      　<object data="/static/img/news/pmc/wind/wind_8.mp4" width="580" height="400">
                                        <embed src="/static/img/news/pmc/wind/wind_8.swf" width="580" height="400" />
                                      　</object>
                                    </video>
                                    <P>基于城市数据的小区风环境分析 - 室内空气龄</P>
                                </div>
                            </div>
                        </div>
                    </div>
{#            水环境#}
                    <div class="hides">

                        <div class="pmc_right_body  pmc_right_p pmc_right_h4 pmc_2">
                            <div>
                                <h3>产品概述</h3>
                                    <p>水环境模块是SSFSTM的核心模块之一，主要用来计算城市水环境，为城市防洪防涝提供解决方案，可预测洪涝灾害的影响范围和严重程度并指导城市紧急蓄水口的合理布局。该模块基于CFD气液两相流理论进行开发，可与SSFSTM中的建模等模块配合使用，可自动生成标准报告和动画</p>
                            </div>
                            <div>
                                <h3>开发背景</h3>
                                    <p>我国水资源分配差异大，水灾频发，每年因洪水和城市内涝造成重大财产损失与人员伤亡。因此，通过仿真对有潜在溃坝危险的区域进行水灾风险预测并提供合理的解决方法具有重要的现实意义。此外，国家发改委和住建部要求各省市做好城市排水防涝补短板建设，构建海绵城市，确保易涝点整治后达到国家标准要求。水环境仿真模块可以结合城市数字化综合信息管理平台，提前预判灾情和辅助决策，提高城市排水防涝运行管理水平。</p>
                            </div>
                            <div>
                                <h3>适用单位</h3>
                                    <p>城市规划单位、建筑设计单位、开展城市科学研究的高校和科研院所、城市防汛抗旱指挥部门。</p>
                            </div>
                            <div>
                                <h3>产品功能</h3>
                                <ul>
                                    <li>洪水仿真，重现洪水决堤场景；</li>
                                    <li>暴雨仿真，预测特大暴雨来袭时城市雨水聚集区；</li>
                                    <li>水体监测，预测城市水体运行周期，改善死水区；</li>
                                    <li>海绵城市，预测城市水平衡性，评价防洪涝效果；</li>
                                    <li>海啸，预测海啸对城市的影响区域和严重程度；</li>
                                </ul>
                            </div>
                            <div>
                                <h3>实例展示</h3>

                                <h4>案例1：某城区洪水模拟分析</h4>
                                <div class="posit">

                                        <img src="/static/img/news/pmc/water/water_1.png">
                                        <p>图1 某城区特大洪水来袭，河堤发生溃塌后城市受灾状况模拟</p>

                                </div>

                                <h4>案例2：某城区降雨内涝仿真分析</h4>
                                <div class="posit">

                                    <img src="/static/img/news/pmc/water/water_2.png">
                                    <p>图2 某城区十年一遇暴雨来袭时，城市的内涝灾害情况模拟</p>

                                </div>

                                <h4>案例3：某城区管路泄洪仿真分析</h4>

                                <div class="posit">
                                    <img src="/static/img/news/pmc/water/water_3.png">
                                    <p>图3 某城区泄洪管路分布示意图（管路直径6m）</p>
                                    <img src="/static/img/news/pmc/water/water_4.png">
                                    <p>图4 有无蓄水口时洪水区域水深等级分布对比分析</p>
                                </div>
                                <h4>案例4：动态溃坝仿真分析</h4>
                                    <video width="580" height="400" controls="controls">
                                      　<source src="/static/img/news/pmc/water/water_5.mp4" type="video/mp4" />
                                      　<source src="/static/img/news/pmc/water/water_5.Ogg" type="video/ogg" />
                                      　<source src="/static/img/news/pmc/water/water_5.webm" type="video/webm" />
                                      　<object data="/static/img/news/pmc/water/water_5.mp4" width="580" height="400">
                                        <embed src="/static/img/news/pmc/water/water_5.swf" width="580" height="400" />
                                      　</object>
                                    </video>

                            </div>
                        </div>
                    </div>
{#            污染物#}
                    <div class="hides">

                        <div class="pmc_right_body pmc_right_p pmc_right_h4 pmc_3">
                            <div>
                                <h3>产品概述</h3>
                                    <p>污染物仿真模块主要用来计算城市中大气污染物和雾霾等在通风条件下的扩散，评估不同的地形、建筑排布、人工建筑物类型对空气环境的污染程度，并为城市提供控制污染程度的解决方案。模块基于CFD多组分扩散理论，可计算污染物随时间和空间的分布。模块操作简单，计算准确，是特别针对城市污染物类型、分布状况等特点开发的。</p>
                            </div>
                            <div>
                                <h3>开发背景</h3>
                                    <p>城市人口增长和城市化进程加快导致雾霾频现，AQI爆表。相关部门采取措施治理雾霾：节能减排、限号、错峰生产……。将CFD理论同生产生活中的各种污染源信息相结合，对城市雾霾的分布进行计算分析，从而确定雾霾污染的主次因素，可为城市污染物浓度的达标治理提供解决方案。</p>
                            </div>
                            <div>
                                <h3>适用单位</h3>
                                    <p>城市规划及设计单位、开展城市科学研究的高校和科研院所、城市环境部门。</p>
                            </div>
                            <div>
                                <h3>产品功能</h3>
                                <ul>
                                    <li>室内空气净化仿真，分析空气净化器的合理布置；</li>
                                    <li>生态公园仿真，评估公园对空气污染的净化效果；</li>
                                    <li>划分排放责任，通过城市内污染源仿真和城市外邻近区域传输仿真，比较对城市空气污染的贡献量；</li>
                                    <li>预测公共区域空气质量，考虑城市布局的影响；</li>
                                    <li>突发事件(有毒气体泄漏等)的紧急疏散预判。</li>
                                </ul>
                            </div>
                            <div>
                                <h3>实例展示</h3>

                                <h4>案例1：南方某城市污染物扩散仿真</h4>
                                <div class="posit">
                                    <video width="580" height="400" controls="controls">
                                      　<source src="/static/img/news/pmc/conta/conta_1.mp4" type="video/mp4" />
                                      　<source src="/static/img/news/pmc/conta/conta_1.Ogg" type="video/ogg" />
                                      　<source src="/static/img/news/pmc/conta/conta_1.webm" type="video/webm" />
                                      　<object data="/static/img/news/pmc/conta/conta_1.mp4" width="580" height="400">
                                        <embed src="/static/img/news/pmc/conta/conta_1.swf" width="580" height="400" />
                                      　</object>
                                    </video>
                                    <p>PM2.5滞留时间的颗粒渲染</p>

                                    <video width="580" height="400" controls="controls">
                                      　<source src="/static/img/news/pmc/conta/conta_2.mp4" type="video/mp4" />
                                      　<source src="/static/img/news/pmc/conta/conta_2.Ogg" type="video/ogg" />
                                      　<source src="/static/img/news/pmc/conta/conta_2.webm" type="video/webm" />
                                      　<object data="/static/img/news/pmc/conta/conta_2.mp4" width="580" height="400">
                                        <embed src="/static/img/news/pmc/conta/conta_2.swf" width="580" height="400" />
                                      　</object>
                                    </video>
                                    <p>PM2.5扩散分析颗粒渲染</p>

                                </div>

                                <h4>案例2：北方某城市污染物扩散仿真</h4>
                                <div class="posit">
                                    <video width="580" height="400" controls="controls">
                                      　<source src="/static/img/news/pmc/conta/conta_3.mp4" type="video/mp4" />
                                      　<source src="/static/img/news/pmc/conta/conta_3.Ogg" type="video/ogg" />
                                      　<source src="/static/img/news/pmc/conta/conta_3.webm" type="video/webm" />
                                      　<object data="/static/img/news/pmc/conta/conta_3.mp4" width="580" height="400">
                                        <embed src="/static/img/news/pmc/conta/conta_3.swf" width="580" height="400" />
                                      　</object>
                                    </video>
                                    <P>台风沿路径移动时的整体Z=10m的速度云图动画</P>

                                    <img src="/static/img/news/pmc/wind/wind_6.png">
                                    <p>图1 东南风下SO2 (黄色)等值面、NO2 (红色)等值面、CO2等值线图</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="pm6_con_foot"><a href="#"><img src="/static/img/ico/scro_up.jpg"></a></div>

        </div>
    </div>

{#百度百科滚动条#}

    <div class="scroll_mue">
        <div class="scroll">
            <div class="head_foot">
                <p></p>
            </div>

            <div class="scroll_con">
                <em></em>
                <a href="javascript:void(0);">
                    <span>1</span>
                    <span>产品概述</span>
                </a>
            </div>

            <div class="scroll_con">
                <em></em>
                <a href="javascript:void(0);">
                    <span>2</span>
                    <span>开发背景</span>
                </a>
            </div>

            <div class="scroll_con">
                <em></em>
                <a href="javascript:void(0);">
                    <span>3</span>
                    <span>适用单位</span>
                </a>
            </div>

            <div class="scroll_con">
                <em></em>
                <a href="javascript:void(0);">
                    <span>4</span>
                    <span>产品功能</span>
                </a>
            </div>

            <div class="scroll_con">
                <em></em>
                <a href="javascript:void(0);">
                    <span>5</span>
                    <span>实例展示</span>
                </a>
            </div>
            <p></p>
        </div>
        <a class="right_arrow"></a>
    </div>

        </div>




{% endblock %}

{% block script %}
    <script>
        $(function () {
            $(".pmc_right_h4").each(function () {
                var $index = $(".pmc_mue1 ul li.backco").index();
                baidu($(this).eq($index).children())
            })
        });
    </script>
{% endblock %}